<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title>Jumi - {{ page.title }}</title>
    <link href="http://github.com/stylesheets/bundle_common.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="http://github.com/stylesheets/bundle_github.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5984051-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
<a href="https://github.com/orfjackal/jumi"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"/></a>

<div id="main">
    <div id="header" class="basic" style="margin-bottom:20px">

        <div class="site">
            <div class="logo boring">
                <h1>Jumi</h1>
                <span style="font-style:italic">common test runner for the JVM</span>
            </div>
            <div class="topsearch">
                <ul class="nav logged_out" style="margin-top:20px">
                    <li><a href="./">Home</a></li>
                    <li><a href="https://github.com/orfjackal/jumi">Source Code</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content" class="site">

        {{ content }}

    </div>

    <div class="push"></div>
</div>

<div id="footer">
    <div class="site">

        <div class="info">
            <div class="company">
                Copyright © 2011-{{ site.time | date: "%Y" }}
                <a href="http://www.orfjackal.net/">Esko Luontola</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
